resources/static/cardmatch/config/amex/amex.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://com.americanexpress.edge.webservice.prescreen"
                  xmlns:tns2="http://data.prescreen.webservice.edge.americanexpress.com"
                  xmlns:wsmex="http://schemas.xmlsoap.org/ws/2004/09/mex"
                  xmlns:impl="http://com.americanexpress.edge.webservice.prescreen"
                  xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
                  xmlns:soa="http://soa.com/uri/products/wsdlext/1.0"
                  xmlns:intf="http://com.americanexpress.edge.webservice.prescreen">
    <wsdl:types>
        <schema elementFormDefault="qualified"
                targetNamespace="http://data.prescreen.webservice.edge.americanexpress.com"
                xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://com.americanexpress.edge.webservice.prescreen"/>
            <complexType name="ApplicantInfo">
                <sequence>
                    <element name="businessAddressLine1" nillable="true" type="xsd:string"/>
                    <element name="businessAddressLine2" nillable="true" type="xsd:string"/>
                    <element name="businessCity" nillable="true" type="xsd:string"/>
                    <element name="businessName" nillable="true" type="xsd:string"/>
                    <element name="businessState" nillable="true" type="xsd:string"/>
                    <element name="businessZip" nillable="true" type="xsd:string"/>
                    <element name="channelId" nillable="true" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="1" name="firstName" nillable="true" type="xsd:string"/>
                    <element name="generationCode" nillable="true" type="xsd:string"/>
                    <element name="gnaVendorCode" nillable="true" type="xsd:string"/>
                    <element name="homeAddressLine1" nillable="true" type="xsd:string"/>
                    <element name="homeAddressLine2" nillable="true" type="xsd:string"/>
                    <element name="homeCity" nillable="true" type="xsd:string"/>
                    <element name="homeState" nillable="true" type="xsd:string"/>
                    <element name="homeZip" nillable="true" type="xsd:string"/>
                    <element name="last4SSN" nillable="true" type="xsd:string"/>
                    <element name="lastName" nillable="true" type="xsd:string"/>
                    <element name="leadOfferFlag" nillable="true" type="xsd:string"/>
                    <element name="middleName" nillable="true" type="xsd:string"/>
                    <element name="partnerRepId" nillable="true" type="xsd:string"/>
                    <element name="vendorCode" nillable="true" type="xsd:string"/>
                    <element name="requestTimeStamp" nillable="true" type="xsd:dateTime"/>
                    <element name="vendorCustomerId" nillable="true" type="xsd:string"/>
                    <element name="tenure" nillable="true" type="xsd:string"/>
                    <element name="transactionCost" nillable="true" type="xsd:string"/>
                    <element name="paymentInd" nillable="true" type="xsd:string"/>
                    <element name="custLocationInd" nillable="true" type="xsd:string"/>
                </sequence>
            </complexType>
            <complexType name="ErrorMessages">
                <sequence>
                    <element name="errorCode" nillable="true" type="xsd:string"/>
                    <element name="errorResponse" nillable="true" type="xsd:string"/>
                    <element name="systemName" nillable="true" type="xsd:string"/>
                </sequence>
            </complexType>
            <complexType name="Offer">
                <sequence>
                    <element name="sourceCode" nillable="true" type="xsd:string"/>
                    <element name="iaCode" nillable="true" type="xsd:string"/>
                    <element name="rsvpCode" nillable="true" type="xsd:string"/>
                    <element name="bannerInfo" nillable="true" type="impl:ArrayOf_tns2_BannerInfo"/>
                    <element name="offerExpiry" nillable="true" type="xsd:string"/>
                    <element name="offerId" nillable="true" type="xsd:string"/>
                </sequence>
            </complexType>
            <complexType name="BannerInfo">
                <sequence>
                    <element name="cardArtURL" nillable="true" type="xsd:string"/>
                    <element name="cardName" nillable="true" type="xsd:string"/>
                    <element name="offerMarketingText" nillable="true" type="xsd:string"/>
                    <element name="ratesInfo" nillable="true" type="impl:ArrayOf_tns2_RatesInfo"/>
                    <element name="offerBannerURL" nillable="true" type="xsd:string"/>
                    <element name="offerDispPageInd" nillable="true" type="xsd:string"/>
                </sequence>
            </complexType>
            <complexType name="RatesInfo">
                <sequence>
                    <element name="introAPR" nillable="true" type="xsd:string"/>
                    <element name="regAPR" nillable="true" type="xsd:string"/>
                    <element name="btIntroAPR" nillable="true" type="xsd:string"/>
                    <element name="btRegAPR" nillable="true" type="xsd:string"/>
                </sequence>
            </complexType>
            <complexType name="OffersResponse">
                <sequence>
                    <element name="customerFlag" nillable="true" type="xsd:string"/>
                    <element name="leadOfferFlag" nillable="true" type="xsd:string"/>
                    <element name="leadOfferURL" nillable="true" type="xsd:string"/>
                    <element name="offerTypeFlag" nillable="true" type="xsd:string"/>
                    <element name="ErrorMessages" nillable="true" type="impl:ArrayOf_tns2_ErrorMessages"/>
                    <element name="Offer" nillable="true" type="impl:ArrayOf_tns2_Offers"/>
                    <element name="statusCode" nillable="true" type="xsd:string"/>
                    <element name="statusDescription" nillable="true" type="xsd:string"/>
                    <element name="transactionId" nillable="true" type="xsd:string"/>
                    <element name="pmcVendorCode" nillable="true" type="xsd:string"/>
                </sequence>
            </complexType>
            <complexType name="AcknowledgeOfferResponse">
                <sequence>
                    <element name="statusCode" nillable="true" type="xsd:string"/>
                    <element name="statusDescription" nillable="true" type="xsd:string"/>
                    <element name="transactionId" nillable="true" type="xsd:string"/>
                </sequence>
            </complexType>
        </schema>
        <schema elementFormDefault="qualified" targetNamespace="http://com.americanexpress.edge.webservice.prescreen"
                xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://data.prescreen.webservice.edge.americanexpress.com"/>
            <element name="getPreScreenOffers">
                <complexType>
                    <sequence>
                        <element name="objaApplicantInfo" type="tns2:ApplicantInfo"/>
                    </sequence>
                </complexType>
            </element>
            <element name="getPreScreenOffersResponse">
                <complexType>
                    <sequence>
                        <element name="offersResponse" type="tns2:OffersResponse"/>
                    </sequence>
                </complexType>
            </element>
            <complexType name="ArrayOf_tns2_ErrorMessages">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns2:ErrorMessages"/>
                </sequence>
            </complexType>
            <complexType name="ArrayOf_tns2_Offers">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns2:Offer"/>
                </sequence>
            </complexType>
            <complexType name="ArrayOf_tns2_BannerInfo">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns2:BannerInfo"/>
                </sequence>
            </complexType>
            <complexType name="ArrayOf_tns2_RatesInfo">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns2:RatesInfo"/>
                </sequence>
            </complexType>
            <element name="acknowledgeOffer">
                <complexType>
                    <sequence>
                        <element name="transactionId" type="xsd:string"/>
                        <element name="offerAcceptanceCode" type="xsd:string"/>
                        <element name="offerCommTimeStamp" type="xsd:dateTime"/>
                    </sequence>
                </complexType>
            </element>
            <element name="acknowledgeOfferResponse">
                <complexType>
                    <sequence>
                        <element name="acknowledgeOfferResponse" type="tns2:AcknowledgeOfferResponse"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>
    <wsdl:message name="acknowledgeOfferResponse">
        <wsdl:part name="parameters" element="impl:acknowledgeOfferResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="acknowledgeOfferRequest">
        <wsdl:part name="parameters" element="impl:acknowledgeOffer">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPreScreenOffersRequest">
        <wsdl:part name="parameters" element="impl:getPreScreenOffers">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPreScreenOffersResponse">
        <wsdl:part name="parameters" element="impl:getPreScreenOffersResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="IDAcqPreScreenWebService">
        <wsdl:operation name="getPreScreenOffers">
            <wsdl:input name="getPreScreenOffersRequest" message="impl:getPreScreenOffersRequest">
            </wsdl:input>
            <wsdl:output name="getPreScreenOffersResponse" message="impl:getPreScreenOffersResponse">
            </wsdl:output>
            <soa:id>35068</soa:id>
            <soa:key>a5462957-fa81-11e2-985a-f5f1b72836af</soa:key>
            <soa:lastUpdated>2013-08-02T13:38:16.239-07:00</soa:lastUpdated>
        </wsdl:operation>
        <wsdl:operation name="acknowledgeOffer">
            <wsdl:input name="acknowledgeOfferRequest" message="impl:acknowledgeOfferRequest">
            </wsdl:input>
            <wsdl:output name="acknowledgeOfferResponse" message="impl:acknowledgeOfferResponse">
            </wsdl:output>
            <soa:id>35069</soa:id>
            <soa:key>a549abca-fa81-11e2-985a-f5f1b72836af</soa:key>
            <soa:lastUpdated>2013-08-02T13:38:16.239-07:00</soa:lastUpdated>
        </wsdl:operation>
        <soa:id>18417</soa:id>
        <soa:key>uddi:479f2240-3635-afbe-b6ac-aeba7bbc66ef</soa:key>
        <soa:lastUpdated>2013-08-01T08:05:03.729Z</soa:lastUpdated>
    </wsdl:portType>
    <wsdl:binding name="DAcqPreScreenWebServiceImplSoapBinding" type="impl:IDAcqPreScreenWebService">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <soa:id>18418</soa:id>
        <soa:key>uddi:72f4182f-7a6c-bb5f-3521-f897df82055f</soa:key>
        <soa:lastUpdated>2013-08-01T08:05:04.010Z</soa:lastUpdated>
        <wsdl:operation name="getPreScreenOffers">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="getPreScreenOffersRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPreScreenOffersResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="acknowledgeOffer">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="acknowledgeOfferRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="acknowledgeOfferResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="IDAcqPreScreenWebService_vs0">
        <wsdl:port name="IDAcqPreScreenWebService_port" binding="impl:DAcqPreScreenWebServiceImplSoapBinding">
            <wsdlsoap:address location="https://dservices.americanexpress.com:443/IDAcqPreScreenWebService"/>
            <soa:id>21419</soa:id>
            <soa:key>uddi:a5ec7b87-fa81-11e2-985a-f5f1b72836af</soa:key>
            <soa:lastUpdated>2013-08-01T08:09:11.587Z</soa:lastUpdated>
        </wsdl:port>
        <soa:id>32815</soa:id>
        <soa:key>uddi:a4de8de3-fa81-11e2-985a-f5f1b72836af</soa:key>
        <soa:lastUpdated>2013-08-02T20:38:16.231Z</soa:lastUpdated>
        <soa:parentKey>uddi:77c5867a-2b82-11de-bbc6-a429f2cfd8d9</soa:parentKey>
    </wsdl:service>
</wsdl:definitions>
